body {background-color: antiquewhite;
    
}
:root {
    --border-color: black;
    --background: red;
}

.flex-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-item {
    background-color: var(--background);
padding: 10px;
border: 2px solid var(--border-color);
margin: 5px;

}

.flex-item:nth-child(1){
    background-color: lightgreen;
    font-size: 35px;
}

.flex-item:nth-child(2){
background-color: lightblue;
font-size: 35px;
}

.flex-item1:nth-child(1){
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    }

    nav {
        border-bottom: 1px solid black;
    }
    
    .crumbs ol {
        list-style-type: none;
        padding-left: 0;
    }
    
    .crumb {
        display: inline-block;
    }
    
    .crumb a::after {
        display: inline-block;
        color: #000;
        content: '>';
        font-size: 80%;
        font-weight: bold;
        padding: 0 3px;
    }

.flex-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}